.outOfMonth {
    background-color: #3b3b3b !important;
}

.redBG {
    background-color: #E90003;
}

.whiteBG {
    background-color: white;
}

.boxedText {
    color: white;
    background-color:black;
    display: inline-block;
}

.boxedTextRed {
    color: white;
    background-color: darkred;
    display: inline-block;
}

.rotatedText {
    transform: rotate(5deg)
}

.calendarDateNumber {
    float: right; 
}

.selectedDay {
    border-color: red !important;
}

.calendarLayout {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "navBar navBar"
        "calendar details";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 768px) {
    .calendarLayout {
        height: 100vh;
        display: grid;
        grid-template-areas:
            "navBar"
            "calendar"
            "details";
        grid-template-rows: auto 1fr 2fr;
        grid-template-columns: 1fr;
    }
}

.navBar {
    grid-area: navBar;
}

.calendar td {
    grid-area: calendar;
    table-layout: fixed;
    height: calc(100% / 6);
    border: 2px solid gray;
}

.details {
    grid-area: details;
}

.list-group {
    --bs-list-group-item-padding-x: .4rem !important;
    --bs-list-group-item-padding-y: .25rem !important;
    white-space: nowrap;
    overflow-x: clip;
}

.Exam {
    background-color: blue !important;
}

.Story {
    background-color: red !important;
}

.JazzClub {
    background-color: purple !important;
}