.outOfMonth {
    background-color: #3b3b3b !important;
}

.redBG {
    background-color: #E90003;
}

.whiteBG {
    background-color: white;
}

.dayOverviewDiv {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    height: 30px; 
    overflow: visible;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.BlockedRestricted {
    background: linear-gradient(to right, #560d0d 50%, #8c6723 50%);
}

.BlockedFree {
    background: linear-gradient(to right, #560d0d 50%, #3b3b3b 50%);
}

.FreeBlocked {
    background: linear-gradient(to right, #3b3b3b 50%, #560d0d 50%);
}

.FreeFree {
    background: #3b3b3b;
}

.FreeRestricted {
    background: linear-gradient(to right, #3b3b3b 50%, #8c6723 50%);
}

.BlockedBlocked {
    background: #560d0d;
}

.boxedText {
    color: white;
    background-color:black;
    display: inline-block;
}

.boxedTextRed {
    color: white;
    background-color: darkred;
    display: inline-block;
}

.rotatedText {
    transform: rotate(5deg)
}

.inlineIcon {
    vertical-align: bottom;
    font-size: 20px !important;
}

.selectedDay {
    border-color: red !important;
}

.calendarLayout {
    height: 100dvh;
    display: grid;
    grid-template-areas:
        "navBar navBar"
        "calendar details";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 768px) {
    .calendarLayout {
        height: 100dvh;
        display: grid;
        grid-template-areas:
            "navBar"
            "calendar"
            "details";
        grid-template-rows: auto 2fr 3fr;
        grid-template-columns: 1fr;
    }
}

.calendarDateNumber {
    font-size: 1.25rem !important;
}

.calendarDateNumberSelected {
    font-size: calc(1.275rem + 0.3vw) !important;
}

@media only screen and (max-width: 1024px) {
    .inlineIcon {
        vertical-align: middle;
        font-size: 16px !important;
    }

    .calendarDateNumber {
        font-size: 16px !important;
    }

    .calendarDateNumberSelected {
        font-size: 16px !important;
    }

    .dayOverviewDiv {
        height: 20px !important;
    }
}

.navBar {
    grid-area: navBar;
    margin-bottom: 0.3rem;
}

.calendarTable th {
    position: sticky;
    top: 0; /* Anchors the header to the top of the container */
    z-index: 1;
}

.calendarTable td {
    height: calc(100% / 6);
    border: 2px solid gray;
}

.calendarTable {
    table-layout: fixed;
    height: stretch;
}

.calendar {
    grid-area: calendar;
    overflow-y: auto;
    white-space: nowrap;
}

.details {
    grid-area: details;
}

.detailsHeader {
    height: 60px;
}

.detailsContents {
    overflow-y: auto;
    height: 1px;
}

.calendarEventSmall {
    --bs-list-group-item-padding-x: .4rem !important;
    --bs-list-group-item-padding-y: 0rem !important;
    white-space: nowrap;
    overflow-x: clip;
    min-height:10px;
}

.Exam {
    background-color: blue !important;
}

.Story {
    background-color: red !important;
}

.JazzClub {
    background-color: purple !important;
}

.Puzzle {
    background-color: darkgoldenrod !important;
}