.Exam {
    background-color: blue !important;
}

.Class {
    background-color: green !important;
}

.TV {
    background-color: #004c00 !important;
}

.Story {
    background-color: red !important;
}

.JazzClub {
    background-color: purple !important;
}

.Puzzle {
    background-color: darkorchid !important;
}

.Shopping {
    background-color: #D16200 !important;
}

.Subway {
    background-color: #BA8E23 !important;
}

.Crane {
    background-color: #E13283 !important;
}
